{% extends "base.html" %}
{% block content %}
<h2>Quản lý Lịch khám</h2>
<table class="table table-bordered mt-3">
  <thead class="thead-dark">
    <tr>
      <th>ID</th><th>Họ tên</th><th>SĐT</th><th>Yêu cầu</th><th>Ngày</th>
    </tr>
  </thead>
  <tbody>
    {% for b in bookings %}
    <tr>
      <td>{{ b["stt"] }}</td>
      <td>{{ b["name"] }}</td>
      <td>{{ b["phone"] }}</td>
      <td>{{ b["require"] }}</td>
      <td>{{ b["timebooking"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
