{% extends "base.html" %}
{% block content %}
<h2>Quản lý Người dùng</h2>
<table class="table table-bordered mt-3">
  <thead class="thead-dark">
    <tr>
      <th>ID</th><th>Họ tên</th><th>Ngày sinh</th><th>Giới tính</th><th>SĐT</th><th>Email</th><th>Tổng tiền</th><th>Điểm</th><th>Ngày đăng ký</th>
    </tr>
  </thead>
  <tbody>
    {% for u in users %}
    <tr>
      <td>{{ u["iduser"] }}</td>
      <td>{{ u["name"] }}</td>
      <td>{{ u["birth"] }}</td>
      <td>{{ u["gender"] }}</td>
      <td>{{ u["phone"] }}</td>
      <td>{{ u["email"] }}</td>
      <td>{{ u["total"] }}</td>
      <td>{{ u["point"] }}</td>
      <td>{{ u["dateregist"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
