<link href="~/Content/assets/css/nouislider.css" rel="stylesheet" />
<style>
    .active-brand {
        color: blue;
    }
</style>
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="https://i.pinimg.com/originals/8d/8b/62/8d8b624ca6ff542c127264c9636cab3c.png" style="width:100%;object-fit:cover" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <ol class="breadcrumb">
                    <li>@*<a href="index.html">Home</a>*@</li>
                    @*<li class="active">@ViewBag.title</li>*@
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- product category -->
<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                @Html.Action("getListProductByBrand", "Default", new { idbrand = Model.idbrand })
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                <aside class="aa-sidebar">
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Sản phẩm khác</h3>
                        <ul class="aa-catg-nav">
                            @{ Html.RenderAction("getCat", "Products");}
                        </ul>
                    </div>

                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Thương hiệu</h3>
                        <div class="aa-color-tag">

                            @{ Html.RenderAction("getRandomBrand", "Default");}
                        </div>
                    </div>
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Sản phẩm giảm giá</h3>
                        <div class="aa-recently-views">
                            <ul>
                                @{ Html.RenderAction("getListProductSale", "Default");}
                            </ul>
                        </div>
                    </div>
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Top sản phẩm ưu thích</h3>
                        <div class="aa-recently-views">
                            <ul>
                                @{ Html.RenderAction("getListProductTopRate", "Default");}
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>

<div id="loading">
    <img src="~/Content/assets/img/loading.svg" />
</div>

<!-- / Subscribe section -->
<link href="~/Content/assets/css/nouislider.css" rel="stylesheet" />
<script src="~/Scripts/js/nouislider.js"></script>
<script src="~/Scripts/js/custom.js"></script>
<script src="~/Scripts/js/loading.js"></script>

<script type="text/javascript">
    function handleSelect(elm) {
        window.location = "?sortOrder=" + elm.value;
    }

    let url = window.location.pathname
    const myOpts = Array.from(document.querySelectorAll('.choose-brand'));
    myOpts.map(ele => {
        if (ele.getAttribute('href') == url)
            ele.classList.add('active-brand');
    });
</script>