<section id="aa-blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-archive-area aa-blog-archive-2">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="aa-blog-content">
                                <div class="row">
                                    @Html.Action("getListBlogByType", "Default", new { idbt = Model.idbt })
                                </div>
                            </div>
                            <!-- Blog Pagination -->
                            @*<div class="aa-blog-archive-pagination">
                                <nav>
                                    <ul class="pagination">
                                        <li>
                                            <a aria-label="Previous" href="#">
                                                <span aria-hidden="true">«</span>
                                            </a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a aria-label="Next" href="#">
                                                <span aria-hidden="true">»</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>*@
                        </div>
                        <div class="col-md-3">
                            <aside class="aa-blog-sidebar">
                                <div class="aa-sidebar-widget">
                                    <h3>Category</h3>
                                    <ul class="aa-catg-nav">
                                        @{ Html.RenderAction("getListBlogType", "Default");}
                                    </ul>
                                </div>
                                @*<div class="aa-sidebar-widget">
                                    <h3>Tags</h3>
                                    <div class="tag-cloud">
                                        <a href="#">Fashion</a>
                                        <a href="#">Ecommerce</a>
                                        <a href="#">Shop</a>
                                        <a href="#">Hand Bag</a>
                                        <a href="#">Laptop</a>
                                        <a href="#">Head Phone</a>
                                        <a href="#">Pen Drive</a>
                                    </div>
                                </div>*@
                            <div class="aa-sidebar-widget">
                                <h3>Bài viết mới nhất</h3>
                                <div class="aa-recently-views">
                                    <ul>
                                        @{ Html.RenderAction("getNewBlog", "Blog");}
                                    </ul>
                                </div>
                            </div>
                            </aside>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
