<div>
    <div>
        <div>
            <img style="width:100%" src="~/Content/assets/img/slider/@ViewBag.img"/>
        </div>
    </div>
    <div style="padding:1rem 9%">
        @Html.Action("getListDetailByService", "Default", new { id_dt = Model.id_dt })
    </div>
    <div style="padding:6rem 9%;">
        <div>
            <div style="padding:0 15px">
                <p style="text-align:center;font-size:26px;font-weight:bold">Trị mụn với Bác sĩ da liễu sẽ giúp gì cho bạn?</p>
                <p style="text-align:center">
                    Trị mụn với bác sĩ da liễu không chỉ giúp mang đến hiệu quả sớm mà còn giúp bạn tránh được các rủi ro của việc tự điều trị tại nhà. Với phác đồ trị mụn trứng cá bộ y tế được cá nhân hóa cho từng người,
                    giúp bạn sớm có được làn da mịn màng, sạch mụn
                </p>
            </div>
            <div>
                <div>
                    <div>
                        <div class="" style="background-color: #E1F3FD;height:250px;margin-top:40px;border-radius:6px; padding:8px;position:relative;display:flex;justify-content:center">
                            <div style="background-color: #2260D2;position:absolute;top:-14px;padding:8px 12px;border-radius:12px" >
                                <p style="font-weight:bold;font-size:20px;color:white">5 lợi ích bạn sẽ nhận được khi điều trị mụn với Bác sĩ da liễu O2 SKIN</p>
                            </div>
                            <div class="row" style="margin-top:60px">
                                <div class="col-sm-3">
                                    <div style="background-color:#fff;padding:4px;border-radius:8px">
                                        <div style="display:flex;justify-content:center">
                                            <img style="width: 48px;border-radius:8px;padding:8px; object-fit: contain; background-color: #E1F3FD" src="https://o2skin-media.hn.ss.bfcplatform.vn/wp-content/uploads/2022/05/Asset-1.png" />
                                        </div>
                                        <div>
                                            <p style="text-align:center">Được điều trị đúng ngay bước đầu, tiết kiệm thời gian và tiền bạc</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div style="background-color:#fff;padding:4px;border-radius:8px">
                                        <div style="display:flex;justify-content:center">
                                            <img style="width: 57px;border-radius:8px;padding:8px; object-fit: contain; background-color: #E1F3FD" src="https://o2skin-media.hn.ss.bfcplatform.vn/wp-content/uploads/2022/05/Zq6VTvsU-Asset-2.png" />
                                        </div>
                                        <div>
                                            <p style="text-align:center">Cải thiện tình trạng đổ dầu, lỗ chân lông to, ngăn mụn nặng, ngừa sẹo rỗ.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div style="background-color:#fff;padding:4px;border-radius:8px">
                                        <div style="display:flex;justify-content:center">
                                            <img style="width: 67px;border-radius:8px;padding:8px; object-fit: contain; background-color: #E1F3FD" src="https://o2skin-media.hn.ss.bfcplatform.vn/wp-content/uploads/2022/05/OBbaG4z8-Asset-3.png" />
                                        </div>
                                        <div>
                                            <p style="text-align:center">Ngăn ngừa mụn tái phát hiệu quả, duy trì làn da đẹp và sạch mụn lâu dài</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div style="background-color:#fff;padding:4px;border-radius:8px">
                                        <div style="display:flex;justify-content:center">
                                            <img style="width: 39px;border-radius:8px;padding:8px; object-fit: contain; background-color: #E1F3FD" src="https://o2skin-media.hn.ss.bfcplatform.vn/wp-content/uploads/2022/05/Asset-4.png" />
                                        </div>
                                        <div>
                                            <p style="text-align:center">Bác sĩ O2 SKIN giúp bạn hiểu đúng nguyên nhân gây mụn và hướng dẫn kiểm soát chúng</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>